<!--The content below is only a placeholder and can be replaced."-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <div class="container" >
        <input type="text"  [(ngModel)]="newTask" (keyup.enter)="addTask()" placeholder="Enter the tasks..." class="form-control">
        <div *ngIf="taskErrorMessage" class="alert alert-danger">
          <strong>Error!</strong> Please enter the task first.
        </div>
  </div>
</div>
<div class="container" >
    <ul>
      <div *ngFor="let task of tasks; let i = index" [attr.data-index]="i" (click)="finishTask()" >
        <input class="cross" type="checkbox" value="1">
        <span>{{ task }}</span>
        <button type="button" class="btn btn-danger" (click)="deleteTask()"> Delete </button>
      </div>
    </ul>
</div>


